* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: #AEEEEE;
}

#header a {
  margin-left: 50px;
}

#menu-buttons {
  margin-left: 825px;
  display: flex;
  align-items: center; 
}

#menu-buttons .btn.custom-button-color {
  margin: 5px 50px 5px 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: #AAEEEE;
  background-color: white;
}

#menu-buttons .btn.custom-button-color:hover {
  color: white;
  background-color: #3ee8e8;
}

#menu-buttons .btn.custom-button-color:active {
  background-color: white;
  color: #AAEEEE;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    background-color: #AAEEEE;
    color: white;
}

button:hover {
  background-color: #3ee8e8;
}


footer {
  background-color: #AEEEEE;
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

footer p {
    margin-left: 10px;
    margin-top: 5px;
    color: white;
}