* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    padding: 50px;
  }
  
#header #logo {
    margin-left: 50px;
  }
  
#header #button-container {
  display: flex;
  align-items: center;
  margin-left: 750px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#btn-login {
    margin-left: 140px;
}

#btn-account {
  margin-left: 215px;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

footer p {
    margin-left: 10px;
    margin-top: 5px;
}