@import url("base.css");

@import url("base.css");

.content-container {
    min-height: calc(64.5vh - 50px);
    position: relative;
}

#search-link {
    width: 100px;
}

#index-container {
    padding: 70px;
    margin-left: 200px;
    display: flex;
    align-items: flex-start; 
}

#tagline-container {
    display: flex;
    flex-direction: column;
    margin-right: 200px; 
    margin-top: 20px;
    width: 300px;
}

#tagline {
    margin-bottom: 15px;
    color: #3ee8e8;
}
