@import url("base.css");

.container {
    margin-left: 250px;
    width: 1000px;
    min-height: calc(64.5vh - 50px);
    position: relative;
    border: 1px solid transparent;
}

.pagination {
    margin-top: 30px;
    margin-bottom: 50px;
}

.page-button {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.page-button:hover {
    background-color: #ddd;
}

.page-button.active {
    background-color: black;
    color: #fff;
}

#search-input {
    width: 750px;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    height: 50px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }

#search-button {
    width: 150px;
    height: 50px;
  }

ul {
    list-style: none;
    padding: 0;
}

.search-result-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 750px;
}

.search-result-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container p {
    margin-top: 30px;
}

h4 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.search-container {
    width: 930px;
    margin-left: 17.5px;
}