@import url("base.css");

#search-container {
  display: flex;
  align-items: flex-start;
}

#search-options {
  width: 300px;
  margin-left: 25px;
}

#radius-categories h4 {
  margin-top: 5px;
  margin-bottom: 25px;
}

#place-categories h4 {
  margin-top: 25px;
  margin-bottom: 25px;
}

#search-bar {
  margin-left: 25px;
  width: 1000px;
}

#search {
  width: 800px;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  height: 50px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#search-button {
  width: 150px;
  height: 50px;
}

#error-container {
  margin-top: 20px;
}

.form-check {
  padding: 7.5px;
}