{% extends "layout.html" %}

{% block title %}Account{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
{% endblock %}

{% block content %}

<div id="user-message">
  <p>Welcome back {{ session['username'] }}!</p>
</div>

  <div id="user-container">

    <div id="search-button">
      <a href="search.html"><button>Search</button></a>
    </div>

    <div id="history-buttons">
      <a href="{{ url_for('show_search_history') }}"><button id="total">All Locations</button></a>
      <a href="{{ url_for('show_popular_searches') }}"><button id="popular">Top Locations</button></a>
      <a href="{{ url_for('search_keyword') }}"><button id="get-record">Search Past Records</button></a>
    </div>

    <div id="user-buttons">
      <form action="/logout" method="get">
        <button type="submit" id="logout">Logout</button>
      </form>
      <form action="/delete_account" method="post">
        <button type="submit" id="delete">Delete Account</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
