{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}

    <div class="content-container">
        <div id="index-container">
            <div id="tagline-container">
                <h1 id="tagline">Tagline</h1>
                <p id="tagline-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="search.html"><button id="btn-search">Search</button></a>  
            </div>
            <img src= "{{ url_for('static', filename='images/placeholder.png') }}" alt="Placeholder Image" id="main-image">
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}