{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}

    <div class="content-container">
        <div id="index-container">
            <div id="tagline-container">
                <h1 id="tagline">elevate guest experiences</h1>
                <p id="tagline-text">curated local reccomendations for your guests to make the most of their stay </p>
                <a id="search-link" href="search.html"><button id="btn-search">Search</button></a>  
            </div>
            <img src= "{{ url_for('static', filename='images/map.png') }}" alt="Map with Location Markers" id="main-image">
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}