{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css', _external=True) }}">
{% endblock %}

{% block content %}
  <div class="form-container">
    <form id="register-form" method="post" action="/register.html">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <div class="error-placeholder error-message" id="username-error">{{ username_error }}</div>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <div class="error-placeholder error-message" id="password-error">{{ password_error }}</div>
      </div>

      <button type="submit">Register</button>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='register.js', _external=True) }}"></script>
{% endblock %}