{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <form id="searchForm" method="post" action="{{ url_for('search_location') }}">
            <div class="search-form-group">
                <input type="text" id="search" name="search" placeholder="Enter your location..." required>
                <button id="searchButton" type="submit">Search</button>
            </div>
            <div class="hidden-group">
                <p id="hiddenParagraph"></p>
            </div>
            <div class="category-group">
                <div class="checkbox-container">
                    {{ checkboxes_html | safe }}
                </div>
            </div>
        </form>
    </div>

    <div id="resultsContainer"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='search.js', _external=True) }}"></script>
{% endblock %}
